@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/content/content.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/todo/todo.css');
@import url('../blocks/card/card.css');
@import url('../blocks/button/button.css');
@import url('../blocks/input/input.css');
